<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citybus">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tampilkantiket"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Konfirmasipembayaran"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Pembayaran"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Detail_tiket"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".Profil" />
        <activity
            android:name=".daftaruser"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".daftar2"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Daftar1"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Home"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>